monoHookPlugin/project/Debug/
monoHookPlugin/project/monoHookPlugin.VC.db
monoHookPlugin/project/.vs/
monoHookPlugin/project/ipch/MONOHOOKPLUGIN-ec42ae77/MONOHOOKPLUGIN-b2b1d9a3.ipch
monoHookPlugin/project/x64/
UnitySample/UnitySample.csproj
UnitySample/UnitySample.sln
UnitySample/Library/
UnitySample/.vs/
